extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/auth') Auth
  div
  a(href='/add_bird' onClick='addBird()') Add a Bird
  div
  a(href='/view_bird') View all Birds
  script(src='/main.js')