extends layout

block content
  script(src='../javascripts/login.js')
  h1=title
  form()
    div.form-group
      label(for='login') Login:
      input#first_name.form-control(type='text' name='login')
    div
      label(for='password') Password:
      input#first_name.form-control(type='text' name='password')
    button.btn.btn-primary(type='button' onclick='getToken()') Submit
  if errors 
    ul
      for error in errors
        li!= error.msg
