extends layout
block content
  title Sign in
  form()
    div
    label(for='login') Login:
    input#login(type='text' name='login')
    div
    label(for='password') Password:
    input#password(type='text' name='password')
    button(type='submit' onClick='submitRegister()') Submit
  script(src='/main.js')
 
